@using GDShop.GDWebservice;
@{
    ViewBag.Title = "BrandProduct";
    Layout = "~/Views/Layout/IndexLayout.cshtml";
}

<div class="features_items">
    <!--features_items-->
    <h2 class="title text-center">Sản Phẩm @ViewBag.tenloai</h2>
    @foreach (var item in @ViewBag.BrandProduct)
    {
        <div class="col-md-3 product-left">
            <div class="product-main simpleCart_shelfItem">
                <a href="@Url.Action("DetailProduct","Product", new { @id = item.id })" class="mask"><img class="img-responsive zoom-img" src="~/Images/Product/@item.image1" alt="" /></a>
                <div class="product-bottom">
                    <h3>@item.tensp</h3>
                    <h4><span class=" item_price">Giá: @string.Format("{0:0.000}", @item.dongia / 1000) VNĐ</span></h4>
                    @using (Html.BeginForm("AddShoppingCart", "ShoppingCart", new { @MaSP = item.id, @Url = Request.Url.ToString() }))
                    {
                        <button type="submit" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Thêm Vào Giỏ</button>
                    }
                </div>
            </div>
        </div>
    }
</div>

