@using GDShop.GDWebservice;
@using PagedList.Mvc;
@using PagedList;
@model PagedList<NhanVien>
@{
    ViewBag.Title = "Quản Lý Nhân Viên";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<nav class="navbar-default navbar-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="main-menu">
            <li>
                <div class="user-img-div">
                    <img src="~/Content/Admin/img/user.jpg" class="img-circle" />

                </div>

            </li>
            <li>
                <a> <strong> Quản Lý </strong></a>
            </li>

            <li>
                <a href="@Url.Action("Index","BaoMatRatCao")"><i class="fa fa-dashboard "></i>Sản Phẩm</a>
            </li>
            <li>
                <a href="@Url.Action("ThongTin","BaoMatRatCao", new { ten = "", diachi = "", sdt = "", i = 0, id = 0 })"><i class="fa fa-align-left"></i>Thông Tin</a>
            </li>
            <li>
                <a  href="@Url.Action("KhachHang","BaoMatRatCao")"><i class="fa fa-users"></i>Khách Hàng</a>
            </li>
            <li>
                <a id="nhanvien" class="active-menu" href="@Url.Action("NhanVien","BaoMatRatCao")"><i class="fa fa-users"></i>Nhân Viên</a>
            </li>
            <li>
                <a href="@Url.Action("DonDathang","BaoMatRatCao")"><i class="fa fa-calendar-check-o"></i>Đơn Đặt Hàng</a>
            </li>
            <li>
                <a href="@Url.Action("HoaDonBan","BaoMatRatCao")"><i class="fa fa-book"></i>Hóa Đơn</a>
            </li>
            <li>
                <a href="@Url.Action("GiaoHang","BaoMatRatCao")"><i class="fa fa-truck"></i>Giao Hàng</a>
            </li>
            <li>
                <a href="@Url.Action("HoaDonNhap","BaoMatRatCao")"><i class="fa fa-book"></i>Hóa Đơn Nhập Hàng</a>
            </li>
            <li>
                <a href="@Url.Action("KhoHang","BaoMatRatCao")"><i class="fa fa-server"></i>Kho Hàng</a>
            </li>
            <li>
                <a href="@Url.Action("ThongKe","BaoMatRatCao")"><i class="fa fa-bar-chart"></i>Thống Kê</a>
            </li>


        </ul>
    </div>

</nav>
<div id="page-wrapper" class="page-wrapper-cls">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">Quản Lý Khách Hàng</h1>
            </div>
        </div>
        <div class="row">
            <a href="@Url.Action("InsertNhanVien","BaoMatRatCao")" class="label label-success" style="float:right; font-size:20px; margin-bottom:20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><i class="fa fa-plus-square-o"></i> Thêm Nhân Viên</a>

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tên Nhân Viên</th>
                        <th>Địa Chỉ</th>
                        <th>Số Điện Thoại</th>
                        <th>Chức Vụ</th>
                        <th>Tài Khoản</th>
                        <th>Mật Khẩu</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
            {
                        <tr>
                            <th>@item.id</th>
                            <th>@item.tennv</th>
                            <th>@item.diachi</th>
                            <th>@item.sdt</th>
                            <th>@Html.Action("ChucVuNhanVien", "BaoMatRatCao", new { id = item.idchucvu })</th>
                            <th>@item.taikhoan</th>
                            <th>@item.matkhau</th>
                            <th>
                                <a href="@Url.Action("CTNhanVien","BaoMatRatCao", new { id = item.id, thongbao =""})" class=" cart_quantity_delete"><i class="fa fa-bars"></i> Chi Tiết</a>

                            </th>
                        </tr>
                    }

                </tbody>
            </table>
            <div class="clearfix"></div>
            <div class="MenuPage" style="display:inline;">
                @Html.PagedListPager(Model, page => Url.Action("NhanVien", "BaoMatRatCao", new { @page = page }))
            </div>
        </div>
    </div>
</div>

